@import './base.css';

.btn-main {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-action {
  background-color: #00874F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.vue-devtools__anchor-btn.panel-entry-btn {
  background-color: #fff; /* or any other color that matches your design */
  color: #333; /* or any other color that matches your design */
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0; /* or any other hover color */
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #333; /* or any other focus color */
  }
}
