@import './base.css';

.btn-main {
  background-color: #2c3e50; /* mÃ u ná»n */
  color: #fff; /* mÃ u chá»¯ */
  border: none; /* khÃ´ng cÃ³ viá»n */
  padding: 10px 20px; /* khoáº£ng cÃ¡ch trong nÃºt */
  font-size: 16px; /* kÃ­ch thÆ°á»›c chá»¯ */
  border-radius: 5px; /* bo gÃ³c */
}

.btn-action {
  background-color: #00BD7E; /* mÃ u ná»n */
  color: #fff; /* mÃ u chá»¯ */
  border: none; /* khÃ´ng cÃ³ viá»n */
  padding: 10px 20px; /* khoáº£ng cÃ¡ch trong nÃºt */
  font-size: 16px; /* kÃ­ch thÆ°á»›c chá»¯ */
  border-radius: 5px; /* bo gÃ³c */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
